<section class="bg-sky-700/90 min-h-screen"> 
  <div class="px-0 py-10 mx-auto max-w-7xl sm:px-4">
    <img class="mx-auto lg:mx-0" width=200 src='https://comana.goldenowl.asia/packs/media/images/logo-light-1288fac6be620e9551c1d0eb40436ca7.svg' alt='golden_owl_logo' />
  </div>
  <div class="px-0 pb-10 mx-auto max-w-8xl sm:px-4">
    <div class="w-full px-4 py-6 mx-auto mt-8 mb-6 bg-white rounded-none shadow-xl sm:rounded-lg sm:w-10/12 md:w-8/12 lg:w-6/12 xl:w-4/12 sm:px-6">
      <h1 class="mb-8 text-2xl font-semibold text-left text-gray-900">Forgot your password ?</h1>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, html: { class: "mb-8 space-y-4" }) do |f| %>
        <div class="mx-auto">
          <div class="flex gap-1.5 flex-col">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example.gos@gmail.com", inputmode: "email", required: true, class: "form-input" %>
          </div>
        </div>
        <%= f.submit "Continue", class: "btn-submit" %>
      <% end %>
    </div>
    <p class="mb-4 text-sm text-center text-gray-100 font-medium">
      Already has account? <%= link_to "Login", session_path(resource_name), class: "text-purple-200 underline hover:text-white" %>
    </p>
  </div>
</section>